.StudyGroup {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }
  
.StudyGroup-header {
    color: black;
    display: flex;
    grid-area: header;
    background-color: #f5f7fa;
    color: white;
    padding: 20px;
    text-align: center;
}

.StudyGroup-main {
    display: flex;
    grid-area: main;
    background-color: #ffffff;
    text-align: center;
    flex-direction: row;
}
